<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Raghu's NRules</title>
    <!--<link rel="stylesheet" href="main.css">-->
    <!--<link rel="stylesheet" href="mixins.css">-->
    <!--<link rel="stylesheet" href="NestedRules.css">-->
    <!--<link rel="stylesheet" href="button.css">-->
    <!-- This ImportAndFilePath.css has all of the files above! -->
    <link rel="stylesheet" href="ImportAndFilePath.css">
</head>

<body>
    <h3 class="bigPanel"> Introduction:</h3>
    <p class="littlePanel">Hey Hey!</p>
    <div id="side-nav">
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Raghu</a>
    </div>

    <div>
        <p><a href="#" class="button">Normal</a></p>
        <p><a href="#" class="jumboButton">Jumbo</a></p>
        <p><a href="#" class="lightButton">Light</a></p>
    </div>
    <div id="one"></div>
    <div id="two"></div>
</body>